body{
  align-items: center;
}
#orig, #holst {
  width: 300px;
  height: auto;
}
input[type=range]{
  width: 100%;
}
fieldset{
  border: none;
}
output{
  display: inline-block;
  min-width: 2.5em;
}
label, output{
  padding: 2px 9px;
  border-radius: 2px;
  color: #000;
  font-size: 1.1em;
}
label[for=r], output[for=r]{
  background-color: #f00;
}
label[for=g], output[for=g]{
  background-color: #0f0;
}
label[for=b], output[for=b]{
  background-color: #00f;
}
